<div class="quiz-container">

    <h1>Test de Estilo de Aprendizaje</h1>
<div *ngIf="!doneQuiz && mQuestions.length > 0" class="question-card">
    <div class="progress">Pregunta {{ actualQuestion + 1 }} / {{ mQuestions.length }}</div>
    
    <h2 class="question-text">
      {{ mQuestions[actualQuestion].statement }}
    </h2>

    <div class="options-grid">
      <button 
        *ngFor="let option of mQuestions[actualQuestion].options" 
        (click)="answer(option.style)"
        class="option-btn">
        {{ option.text }}
      </button>
    </div>
  </div>

  <div *ngIf="doneQuiz" class="result-card">
    <h3>Tu estilo de aprendizaje predominante es:</h3>
    
    <h1 class="winner-text">{{ sWinner }}</h1>

    

    <button routerLink="/" class="home-btn">
      Regresar al Inicio
    </button>
  </div>

</div>